*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: rgb(242, 242, 242);
    font-family: "inter", sans-serif;
}

/*  PÁGINA 1 */

.pagina1{
    background-color: rgb(242, 242, 242);
    width: 100%;
    height: 1080px;
}

.pag1_nombre{
    text-align: center;
}

.p_nombre{
    color: rgb(120, 153, 174);
    font-size: medium;
    font-style: italic;
}

.nombre{
    text-align: center;
    margin-top: 95px;
    color:  rgb(120, 153, 174);
    text-decoration: underline;
    font-family: 'Inria Serif', serif;
    font-size: x-large;
}

.div_general1{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20%;
    margin-top: 60px;
    margin-right: 12%;
    margin-left: 12%;
}

.textos1{
    margin-top: 80px;
    margin-bottom: 10%;
    opacity: 0;
}

.titulo{
    margin-bottom: 120px;
    text-align: center;
    color:  rgb(120, 153, 174);
    font-style: normal;
}

.frase_titulo{
    font-size: 172%;
    line-height: 1.4;
}

// .parrafo{
//     margin-bottom: 120px;
//     color:  rgb(108, 111, 125);
//     font-size: 135%;
// }

.div_video{
    display: flex;
    justify-content: center;
}

.video_rd4{
    width: 120%;
    height: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.div_boton1{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20%;
    margin-top: 9%;
    margin-bottom: 10%;
}

.boton1{
    padding: 30px 45px 30px 45px;
    background-color: rgb(27, 108, 159);
    color:  rgb(242, 242, 242);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: large;
    font-weight: 700;

    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-image: linear-gradient(
        -60deg,
        #ffffff00 0%,
        #ffffff00 40%,
        #ffffff44 40%,
        #ffffff44 60%,
        #ffffff00 60%,
        #ffffff00 100%
    );
    background-size: 200% 100%;
    background-position-x: 150%;
    transition: scale 0.3s;
}
.boton1:hover{
    animation: shimmer 1s forwards;
    scale: 1.05;
}
@keyframes shimmer{
    0%{
        background-position-x: 150%;
    }
    100% {
        background-position-x: -50%;
    }
}

#boton_consulta{
    width: 285px;
}

#boton_mas_info{
    width: 285px;
}




