/* Media Queries para disp. mayores */
@media (min-width: 1350px) and (max-width: 1919px){
    /* GENERAL */
    .pagina1, .pagina2, .pagina3, .pagina5, .pagina6 {
        width: 100%;
        max-height: 1080px;
    }

    .div_general1, .div_sobre_mi, .info_pag3, .div_viñetas, .txt_pagina5, .div_cuadros {
        flex-direction: row;
        margin-right: 12%;
        margin-left: 12%;
    }

    .tit_pagina2,.tit_pag3, .tit_pagina4, .tit_pagina5, .tit_pagina6 {
        font-size: 2em;
    }

    .p_pagina4,.txt_viñeta, .txt_pagina5, .txt_consulta {
        font-size: 130%;
    }



    /* HEADER */
    header {
        flex-direction: row;
        align-items: center;
        margin: 2% 10% 5% 10%;
    }

    /* PAGINA 1 */

    .titulo{
        font-size: 90%;
    }

    .parrafo{
        font-size: 120%;
        line-height: 1.5;
    }

    .video_rd4{
        width: 100%;
    }

    /* PAGINA2 */

    .div_sobre_mi{
        margin-bottom: 10%;
    }
    .div_dra_info{
        padding-bottom: 10%;
    }

    /* PAGINA 3 */

    .info_pag3{
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 3%;
        align-items: center;
        margin-left: 12%;
        margin-right: 12%;
        margin-bottom: 120px;
    }

    .cuadro{
        width: 550px;
    }

    .div_acordeon{
        width: 50%;
    }

    /* PAGIAN 4 */

    .pagina4{
        height: auto;
    }

    .p_pagina4{
        font-size: large;
    }

    .div_viñetas{
        display: flex;
        justify-content: center;
        flex-direction:column;
        gap: 80px;
        padding-right: 12%;
        padding-left: 12%;
        padding-bottom: 70px;
        opacity: 100%;
    }

    .viñeta{
        padding: 10px;
        background-color: rgb(242, 242, 242);
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 100%;
        height: 250px;
        overflow: hidden;
        transition: height .3s;
        interpolate-size: allow-keywords;
        opacity: 0;
    }
    
    .viñeta.open {
        height: auto;
    }
    
    .viñeta:hover {
        height: auto;
    }
    /* PAGINA 5 */

    .txt_pagina5{
        align-items: center;
        margin-bottom: 60px;
    }
    .contenedor1{
        margin-top: 0;
        margin-bottom: 0;
    }

    .contenedor2{
        margin-top: 0;
        margin-bottom: 0;
    }

    .item{
        height: 50px;
        width: auto;
    }

    .imagen_dra{
        height: auto;
        width: auto;
    }

    /* PAGINA 6 */

    .cuadro_info{
        /* margin: 10px 50px 10px 50px; */
        padding: 10px 40px;
    }

    .div_cuadro_final{
        margin-top: 40px;
    }

    .tit_cuadro_info{
        font-size: large;
    }

    .precio{
        font-size: larger;
    }

    .div_dudas{
        width: 100%;
    }
}


/* Media Queries para tablets */
@media (min-width: 769px) and (max-width: 1349px) {

    /* GENERAL */
    .pagina1, .pagina2, .pagina3, .pagina4, .pagina5, .pagina6 {
        height: auto;
        max-height: 1800px;
    }

    .div_general1, .info_pag3, .div_viñetas, .div_cuadros {
        flex-direction: column;
        margin-right: 7%;
        margin-left: 7%;
        align-items: center;
        width: auto;
    }

    .tit_pagina2, .tit_pag3, .tit_pagina4, .tit_pagina5, .tit_pagina6 {
        font-size: 2em;
    }

    .p_pagina4, .txt_cuadro_info, .txt_viñeta, .txt_pagina5, .txt_consulta {
        font-size: 1.05em;
    }

    .boton1 {
        padding: 30px 45px;
        font-size: 110%;
    }

    .tit_dra_info, .tit_cuadro{
        font-size: 1.5em;
    }

    .tit_viñeta, .tit_cuadro_info {
        font-size: 1.3em;
    }

    /* HEADER */
    header {
        flex-direction: row;
        align-items: center;
        margin: 2% 6% 5% 6%;
    }

    .texto_header {
        font-size: 1.1em;
    }

    .boton_contacto {
        padding: 12px 30px;
        font-size: large;
    }

    /* PAGINA 1 */

    .nombre{
        margin-top: 100px;
    }

    .frase_titulo{
        text-align: center;
        margin-top: 8%;
    }

    .video_rd4{
        width: 100%;
        margin-bottom: 80px;
    }

    /* PAGINA2 */
    .pagina2{
        height: 1200px;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .div_dra_info{
        height: auto;
        margin-left: 5%;
        margin-right: 5%;
    }

    .tit_dra_info{
        margin-top: 70px;
    }

    .p_dra_info{
        margin-top: 100px;
    }

    .flecha_img{
        height: auto;
        width: 30px;
    }

    /* PAGINA3 */
    .cuadro{
        width: auto;
        margin-bottom: 50px;
    }

    /* PAGINA 4 */
    .pagina4{
        max-height: none;
        padding-bottom: 80px;
    }

    .div_viñetas{
        opacity: 100%;
    }

    .viñeta{
        padding: 10px;
        background-color: rgb(242, 242, 242);
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 100%;
        height: 250px;
        overflow: hidden;
        transition: height .3s;
        interpolate-size: allow-keywords;
        opacity: 0;
    }
    
    .viñeta.open {
        height: auto;
    }
    
    .viñeta:hover {
        height: auto;
    }

    /* PAGINA 5 */

    .pagina5{
        height: 1200px;
    }

.pagina5 {
        background-color: #f2f2f2;
        width: 100%;
        height: 1080px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contenedor1 {
        width: 100%;
    }

    .contenedor2 {
        width: 100%;
        height: auto;
    }

    .item {
        width: auto;
    }

    .imagen_dra{
        height: auto;
        width: 100%;
    }

    /* PAGINA 6 */
    .tit_pagina6{
        margin-bottom: 60px;
    }

    .cuadro_info{
        height: auto;
        width: 60%;
    }

    #cuadro_info1{
        margin-bottom: 40px;
    }
    
    .div_dudas{
        margin-bottom: 10px;
    }

    .txt_consulta {
        font-size: 120%;
        color: rgb(222, 222, 222);
        font-weight: lighter;
        text-align: left; /* Alinear el texto hacia la izquierda */
        width: 100%; /* Asegurar que ocupe todo el ancho disponible */
        display: block; /* Evitar que Flexbox lo afecte */
    }

    .txt_consulta{
        font-size: 1.05em;
    }


    .boton_consulta {
        padding: 12px 20px;
        font-size: medium;
    }

}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
    /* GENERAL */
    .pagina1, .pagina2, .pagina3, .pagina4, .pagina5, .pagina6 {
        height: auto;
        max-height: 1800px;
        width: 100%;
    }

    .div_general1, .info_pag3, .div_viñetas, .txt_pagina5, .div_cuadros {
        flex-direction: column;
        margin-right: 5%;
        margin-left: 5%;
        align-items: center;
        width: auto;
    }

    .tit_pagina2, .tit_pag3, .tit_pagina4, .tit_pagina5, .tit_pagina6 {
        font-size: large;
    }

    .p_pagina4, .txt_cuadro_info, .txt_viñeta, .txt_pagina5, .txt_consulta {
        font-size: small;
    }

    .div_boton1{
        gap: 6%;
    }

    .boton1 {
        padding: 25px;
        font-size: medium;
    }

    .tit_dra_info, .tit_cuadro {
        font-size: 1.5em;
    }

    .tit_viñeta, .tit_cuadro_info {
        font-size: 1.3em;
    }

    /* HEADER */

    header {
        flex-direction: row;
        align-items: center;
        margin: 2% 5% 5% 5%;
    }

    .texto_header {
        font-size: 60%;
    }

    .palabra_header1{
        margin-right: 7px;
    }

    .boton_contacto {
        padding: 6px 10px;
        font-size: x-small;
        margin-left: 4px;
    }

    .icono_ig_header{
        width: 25px;
        height: auto;
        margin-left: 25px;
    }

    .logo_dra{
        width: 30px;
        height: auto;
    }

    .logo_header{
        padding-right: 80px;
    }

    /* PAGINA 1 */
    .nombre{
        margin-top: 100px;
        font-size: medium;
    }

    .titulo{
        font-size: 70%;
        margin-top: 50px;
        text-align: center;
    }

    .parrafo{
        font-size: small;
    }


    /* PAGINA 2 */
    .pagina2 {
        height: 1080px;
        display: flex;
        align-items: center;
    }

    .div_sobre_mi{
        margin-left: 5%;
        margin-right: 5%;
        height: auto;
    }

    .flecha_img{
        height: auto;
        width: 30px;
    }

    .div_dra_info {
        height: auto;
    }

    .tit_dra_info {
        margin-top: 70px;
        font-size: 140%;
    }

    .p_dra_info {
        margin-top: 85px;
        font-size: small;
    }

    /* PAGINA 3 */
    .cuadro {
        width: auto;
        margin-bottom: 50px;
    }

    .tit_cuadro{
        font-size: large;
    }

    .texto_cuadro{
        font-size: 90%;
    }

    section details summary{
        font-size: small;
    }

    section details p{
        font-size: small;
    }

    section details li{
        font-size: small;
    }

    .div_acordeon{
        height: auto;
        width: 100%;
    }

    /* PAGINA 4 */
    .pagina4 {
        max-height: none;
        padding-bottom: 80px;
    }

    .div_viñetas{
        opacity: 100%;
    }
    
    .viñeta{
        padding: 10px;
        background-color: rgb(242, 242, 242);
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: auto;
        height: 250px;
        overflow: hidden;
        transition: height .3s;
        interpolate-size: allow-keywords;
        opacity: 0;
    }
    
    .viñeta.open {
        height: auto;
    }
    
    .viñeta:hover {
        height: auto;
    }

    .tit_viñeta{
        font-size: medium;
        margin-bottom: 70px;
    }

    .txt_viñeta{
        margin: 80px 40px 0px 40px;
    }

    .img_viñeta{
        width: 70px;
        height: auto;
    }

    /* PAGINA 5 */

    .pagina5{
        max-height: auto;
    }
    
    .txt_pagina5 {
        flex-direction: row;
    }

    .contenedor1 {
        width: 100%;
    }

    .contenedor2 {
        width: 100%;
        height: auto;
    }

    .item {
        width: auto;
    }

    /* PAGINA 6 */
    .cuadro_info {
        height: auto;
        width: 80%;
        margin-bottom: 50px;
        padding: 10px 40px 10px 40px;
    }

    .precio {
        font-size: medium;
    }

    .div_dudas {
        padding-bottom: 10px;
        background-color: rgb(121, 148, 164);
        width: 100%;
    }

    .txt_consulta {
        font-size: 60%;
    }

    .boton_consulta {
        padding: 12px 20px;
        font-size: 60%;
    }

        /* FOOTER */

        footer{
            height: auto;
        }
        .div_general_footer {
            flex-direction: column;
            margin-left: 5%;
            margin-right: 5%;
            align-items: center;
        }
    
        .div_info{
            margin-top: 120px;
            margin-bottom: 100px;
        }
}